
<section id="home" class="w3l-banner py-5";>
        <div class="banner-content">
            <div class="container py-4">
                <div class="row align-items-center pt-sm-5 pt-4">
                    <div class="col-md-6">
                        <h3 class="mb-lg-4 mb-3">
                            Empowering Your Future<span class="d-block">Innovative Learning</span>
                        </h3>
                        <p class="banner-sub">Collaborative Environment & Endless Opportunities</p>
                        <div class="d-flex align-items-center buttons-banner">
                            @* @* <a href="contact.html" class="btn btn-style mt-lg-5 mt-4">Admission Now</a>   *@
                         </div>
                    </div>
                    <div class="col-md-6 right-banner-2 text-end position-relative mt-md-0 mt-5">
                        <div class="sub-banner-image mx-auto">
                            <br /><br /> 
                            <img src="~/images/banner.png" class="img-fluid position-relative" alt=" ">
                        </div>
                        <div class="banner-style-1 position-absolute">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  




<!-- stats block -->
    <section class="w3-stats pt-4 pb-5" id="stats">
        <div class="container pb-md-5 pb-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <p class="text-uppercase">Our Statistics</p>
                <h3 class="title-style">We are Proud to Share with You</h3>
            </div>
            <div class="row text-center pt-3">
                <div class="col-md-4 col-6">
                    <div class="counter">
                        <img src="~/images/icon-1.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-sm-1" data-to="@ViewData["StudentsCount"]" data-speed="500"></div>
                        <p class="count-text">Students Enrolled</p>
                    </div>
                </div>
                <div class="col-md-4 col-6">
                    <div class="counter">
                        <img src="~/images/icon-2.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="@ViewData["DepartmentsCount"]" data-speed="500"></div>
                        <p class="count-text">Departments</p>
                    </div>
                </div>
                <div class="col-md-4 col-6 mt-md-0 mt-5">
                    <div class="counter">
                        <img src="~/images/icon-3.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="@ViewData["CoursesCount"]" data-speed="500"></div>
                        <p class="count-text">Total Courses</p>
                    </div>
                </div>
               @*  <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                        <img src="~/images/icon-4.png" alt="" class="img-fluid">
                    <div class="timer count-title count-number mt-3" data-to="@ViewData["CoursesCount"]" data-speed="1500"></div>
                        <p class="count-text">Awards Won</p>
                    </div>
                </div> *@
            </div>
        </div>
    </section>
    <!-- //stats block -->

    <!-- testimonials block -->
<section class="w3l-index4 py-5" id="testimonials" style="margin-bottom: 50px;">
        <div class="container py-md-5 py-4">
            <div class="content-slider text-center">
                <div class="clients-slider">
                    <div class="mask">
                        <ul>
                            <li class="anim1">
                                <img src="~/images/testi1.jpg" class="img-fluid rounded-circle"
                                    alt="client image" />
                                <blockquote class="quote"><q>Duis aute irure dolor in reprehenderit in voluptate
                                        velit esse
                                        cillum dolore eu. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est
                                        laborum.
                                    </q> </blockquote>
                                <div class="source">- Mario Spe</div>
                            </li>

                            <li class="anim2">
                                <img src="~/images/testi2.jpg" class="img-fluid rounded-circle"
                                    alt="client image" />
                                <blockquote class="quote"><q>Sed ut perspiciatis unde omnis iste natus error sit
                                        voluptatem
                                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
                                        illo
                                        inventore.
                                    </q> </blockquote>
                                <div class="source">- Petey Cru</div>
                            </li>
                            <li class="anim3">
                                <img src="~/images/testi3.jpg" class="img-fluid rounded-circle "
                                    alt="client image" />
                                <blockquote class="quote"><q>Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam,
                                        quis nostrud exercitation.
                                    </q> </blockquote>
                                <div class="source">- Anna Sth</div>
                            </li>
                            <li class="anim4">
                                <img src="~/images/testi3.jpg" class="img-fluid rounded-circle"
                                    alt="client image" />
                                <blockquote class="quote"><q>Duis aute irure dolor in reprehenderit in voluptate
                                        velit esse
                                        cillum dolore eu. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est
                                        laborum.
                                    </q> </blockquote>
                                <div class="source">- Gail For</div>
                            </li>
                            <li class="anim5">
                                <img src="~/images/testi2.jpg" class="img-fluid rounded-circle"
                                    alt="client image" />
                                <blockquote class="quote"><q>Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam,
                                        quis nostrud exercitation.
                                    </q> </blockquote>
                                <div class="source">- Boye Fra</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //testimonials block -->

