@model Enrollment

@{
    ViewData["Title"] = "Create";
}
<div style="text-align:center; margin-top: 100px;">
    <h4 style="margin-bottom:-15px;">Create Enrollment</h4>
</div>
<div>
    <a asp-action="Index"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
</div>
<hr />


        @* <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserID" class="control-label"></label>
                <select asp-for="UserID" class ="form-control" asp-items="ViewBag.UserID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CourseID" class="control-label"></label>
                <select asp-for="CourseID" class ="form-control" asp-items="ViewBag.CourseID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EnrollmentDate" class="control-label"></label>
                <input asp-for="EnrollmentDate" class="form-control" />
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form> *@


<form class="row g-3" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col-md-6">
        <label asp-for="UserID" class="control-label"></label>
        <select asp-for="UserID" class="form-control" asp-items="ViewBag.UserID"></select>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="CourseID" class="control-label"></label>
        <select asp-for="CourseID" class="form-control" asp-items="ViewBag.CourseID"></select>
    </div>
    <div class="form-group col-md-12">
        <label asp-for="EnrollmentDate" class="control-label"></label>
        <input asp-for="EnrollmentDate" type="date" class="form-control" />
        <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
