@model User

@{
    ViewData["Title"] = "Create";
}

<div style="text-align:center; margin-top: 100px;">
    <h4 style="margin-bottom:-15px;">Create User</h4>
</div>
<div>
    <a asp-action="Index"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
</div>
<hr />

@*  <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UniversityId" class="control-label"></label>
                <input asp-for="UniversityId" class="form-control" />
                <span asp-validation-for="UniversityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div> *@
           @*  <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div> *@
@*             <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentID" class="control-label"></label>
                <select asp-for="DepartmentID" class ="form-control" asp-items="ViewBag.DepartmentID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>  *@


 <form class="row g-3" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col-md-12">
                <label asp-for="UniversityId" class="control-label"></label>
                <input asp-for="UniversityId" type="number" class="form-control" />
                <span asp-validation-for="UniversityId" class="text-danger"></span>
            </div>
    <div class="form-group col-md-6">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" type="text" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
    <div class="form-group col-md-6">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" type="text" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
   @*  <div class="form-group col-md-6">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div> *@


    <div class="form-group col-md-6">
        <label asp-for="Email" class="control-label"></label>
        <div class="input-group">
        <div class="input-group-text">@@</div>
            <input asp-for="Email" type="email" class="form-control">
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
     </div>


    <div class="form-group col-md-6">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
    <div class="form-group col-md-6">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" type="tel" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
   @*  <div class="form-group col-md-6">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div> *@
     <div class="form-group col-md-6">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>

    <div class="form-group col-md-6">
        <label asp-for="Gender" class="control-label"></label>
        <select asp-for="Gender" class="form-select">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="PreferNotToAnswer">Prefer not to answer</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group col-md-6">
                <label asp-for="DepartmentID" class="control-label"></label>
        <select asp-for="DepartmentID" class="form-select" asp-items="ViewBag.DepartmentID"></select>
    </div> 

    <div class="form-group col-md-6">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
@*     <div class="form-group col-md-12">
        <a asp-action="Index">Back to List</a>
    </div> *@
    
        </form> 




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
