@model Department

@{
    ViewData["Title"] = "Create";
}

<div style="text-align:center; margin-top: 100px;">
    <h4 style="margin-bottom:-15px;">Create Department</h4>
</div>
<div>
    <a asp-action="Index"><i class="fa-solid fa-arrow-left fa-xl"></i></a>
</div>
<hr />

       @*  <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label"></label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form> *@


<form class="row g-3" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group col-md-6">
        <label asp-for="DepartmentName" class="control-label"></label>
        <input asp-for="DepartmentName" class="form-control" />
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    

</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
